<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      BMI Calculator
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">BMI Calculator</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    
    <ion-card>
      <ion-card-header style="font-weight: bold; font-size: 20px; ">
        Enter Your Detail
      </ion-card-header>

      <img src="https://cdn.shopify.com/s/files/1/0805/6265/1456/files/Benefits-of-the-BMI-Calculator-for-People-of-all-Ages-1024x733.jpg?v=1694636264
    " alt="BMI"/>

      <ion-card-content>
        <p>Height (cm): {{height}}</p>
        <ion-range [(ngModel)]="height" min="100" max="250">
          <ion-label slot="start">100</ion-label>
          <ion-label slot="end">250</ion-label>
        </ion-range>
  
        <p>Weight (kg): {{weight}}</p>
        <ion-range min="30" max="200" [(ngModel)]="weight">
          <ion-label slot="start">30</ion-label>
          <ion-label slot="end">200</ion-label>
        </ion-range>
  
        <ion-button expand="block" (click)="calculationBMI()" color="secondary">
          Calculate BMI
        </ion-button>

        <p class="text-center" *ngIf="bmi != 0">Your BMI: {{bmi}}</p>
        <p class="text-center">{{message}}</p>
      </ion-card-content>
      
    </ion-card>

   

  </div>
</ion-content>
